.dataGrid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 1.25em;
  flex-wrap: wrap;

  .image {
    border-radius: 100%;
    overflow: hidden;
    width: 3.125em;
    height: 3.125em;
    flex-shrink: 0;
  }
}
