.primary-col {
  color: var(--color-primarycol);
}

.secondary-col {
  color: var(--color-secondarycol);
}

.bgcol1-col {
  color: var(--color-bgcol1);
}

.white-col {
  color: var(--color-whitecol);
}

.black-col {
  color: var(--color-blackcol);
}