.anchor__wrapper {
    background-color: rgba($color: #bfcacc, $alpha: 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.75em;
    aspect-ratio: 1;
    border-radius: 50px;
}