@import "../app/styles/main.scss";

:root {
  --color-primarycol: #12e9e9;
  --color-secondarycol: #617f90;
  --color-whitecol: #ffffff;
  --color-blackcol: #000000;
  --color-bgcol1: #bfcacc;
  --color-bgcol2: #dce3e5;
  --color-bgcol3: #f0f3f5;
  --color-bgcol4: #e0e0e0;
  --color-darkbluecol: #0046af;
  --color-dangercol: #ef3249;
  --color-successcol: #198754;
  --rgb-primarycol: 18, 233, 233;
  --rgb-secondarycol: 97, 127, 144;
  --rgb-bgcol1: 191, 202, 204;
  --rgb-bgcol3: 240, 243, 245;
  --rgb-blackcol: 0, 0, 0;
  --rgb-whitecol: 255, 255, 255;
  --rgb-dangercol: 239, 50, 73;
}
